body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    font-size: 48px;
    color: goldenrod;
    margin-top: 40px;
  }
  
  h2 {
    color: goldenrod;
    font-size: 28px;
  }
  
  .instrument {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .instrument ul {
    list-style-type: none;
    padding: 0;
  }
  
  .instrument li {
    background-color: #f5f5f5;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .instrument a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .instrument a:hover {
    color: goldenrod;
  }
  
 
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .navbar li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  

  .navbar ul li.name{
    font-size: 24px; 
    font-weight: bold;
    color: goldenrod;
    text-transform: uppercase;
}
  
  
  
  
  .logo img {
    width: 100px;
    height: 100px;
  }
  