body {
    background-color: white;
}

h1 {
    font-size: 50px;
    color: goldenrod;
    text-align: center;
}

h2 {
    color: goldenrod;
}

p {
    color: black;
}

img {
    width: 250px;
}

#img-container {
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
#contact{
    margin-top: 25px;
}

#background {
    display: flex;
    flex-direction: row;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .navbar li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  

  .navbar ul li.name{
    font-size: 24px; 
    font-weight: bold;
    color: goldenrod;
    text-transform: uppercase;
}
  
  
  
  
  .logo img {
    width: 100px;
    height: 100px;
  }
  