<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Alexandra</title>
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>
  <body>
    <div id="navbar"></div>

    <h1>Alexandra</h1>

    <h2>Musical Journey</h2>
    <div id="background">
      <p>Alexandra began playing the saxophone in 4th grade, after switching from clarinet. She loves how music can express emotions and tell stories. Through her musical journey, Alexandra has made friends and her passion for music has grown as she began playing in a variety of ensembles from concert band to jazz and pit orchestra. She currently plays both alto and tenor saxophones and has good experience with the bari sax.</p>
    </div>

    <h2>Performance and Competition</h2>
    <div id="experience">
      <p>Alexandra is currently a member of both Woodinville High School Wind Ensemble and Jazz Band. She takes leadership by being secretary and tenor sax section leader, as well as music curator in jazz where she works to help classmates explore and gain familiarity with jazz. She has played sax in pit orchestra for WHS’s production of <em>Footloose</em> and has experience playing in and leading smaller chamber ensembles.</p>
    </div>

    <h2>Teaching Style</h2>
    <div id="teaching">
      <p>Alexandra’s teaching style emphasizes patience, encouragement, and clear feedback. She focuses on developing good fundamentals and teaches students to problem solve on their own, helping them succeed in the future. She works with students to achieve their goals—from learning to play their instrument to mastering a new piece. She hopes to encourage and inspire a new generation of musicians by helping them find a voice and community through music.</p>
    </div>

    <h2>Contact</h2>
    <div id="contact">
      <p>Email: <a href="mailto:alexandra.sablina10@gmail.com">alexandra.sablina10@gmail.com</a>
      </p><p><425-387-3724</p>
    </div>

  </body>
</html>

