<!-- Alexandra teacher page connected to the TeacherPages.css and navbar
Gives info on her musical background, contact info and an image of her playing saxophone
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>
    <h1>Alexandra</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Alexandra began playing the saxophone in 4th grade after switching from clarinet. She quickly discovered a love for how music can express emotions and tell stories. Over the years, her passion for music has only deepened, and she’s found joy in connecting with others through musical collaboration. Alexandra has performed in a wide range of ensembles, including concert band, jazz band, pit orchestra, and chamber groups. She currently plays both alto and tenor saxophones and also has experience with baritone sax.</p>

        <h3>Performance Experience</h3>
        <p>Alexandra is an active member of the Woodinville High School Wind Ensemble and Jazz Band. She serves as the secretary and tenor sax section leader, and also contributes as a music curator in jazz—helping classmates explore and engage with the genre. Alexandra has played in the pit orchestra for WHS’s production of <em>Footloose</em> and has led and participated in various small chamber ensembles. Her experience has given her a well-rounded and versatile approach to performance.</p> 

        <h3>Teaching Philosophy</h3>
        <p>Alexandra’s teaching style centers on patience, encouragement, and helping students become independent problem-solvers. She focuses on building a strong foundation of good fundamentals while also fostering creativity and self-confidence. Alexandra tailors lessons to her students’ goals, whether it’s learning the basics, preparing for an audition, or exploring new styles. Her hope is to help students find their voice and a sense of community through music.</p>

        <div id="contact">
          <h2>Contact Info</h2>
          <p>Email: <a href="mailto:alexandra.sablina10@gmail.com">alexandra.sablina10@gmail.com</a></p>
          <p>Phone number: 425-387-3724</p>
        </div>
      </div>

      <div id="img-container">
        <img src="../static/sasha.png" alt="Alexandra playing saxophone">
      </div>
    </div>
  </body>
</html>

