<!-- Aadi teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <h1>Aadi Shah</h1>

    <h2>Background</h2>
    <div id="background">
        <div>
            <h3>Musical Journey</h3>
            <p>Aadi has been playing guitar for about six years, beginning his musical journey through lessons at 4/4
                School of Music. What started as a childhood activity has grown into a personal passion, fueled by
                learning songs and sharing music with family and friends. He continues to play regularly, using the
                instrument as a creative outlet and a form of self-expression.</p>

            <h3>Performance Experience</h3>
            <p>While Aadi does not focus on public performance due to performance anxiety, he has played informally in
                front of family and friends. His approach to music is centered more on personal growth and enjoyment
                rather than competition or performance, allowing him to build confidence and skill at his own pace.</p>

            <h3>Teaching Philosophy</h3>
            <p>Though new to teaching guitar, Aadi has prior experience as a ski instructor and brings a strong focus on
                building fundamentals. His teaching emphasizes a solid understanding of scales and chords before
                progressing to more advanced material. He believes this foundation makes it easier for students to learn
                songs and techniques later on, and aims to support each student’s learning style with patience and
                clarity.</p>

            <div id="contact">
                <h2>Contact Info</h2>
                <p>Email: <a href="mailto:aadishah1217@gmail.com">aadishah1217@gmail.com</a></p>
                <p>Phone number: 425-492-6988</p>
            </div>
        </div>

        <div id="img-container">
            <!-- <img src="../static/" alt=""> -->
        </div>
    </div>
</body>

</html>