<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/Home.css" rel = "stylesheet">
  </head>

  <body>
    <body>
      <div id="navbar"></div>
      <script src="loadNavbar.js"></script>
    
    <h1>Emi Trejo Rodriguez</h1>
    <h2>Background</h2>  
    <div id = "background">
    <h3>Technical Mastery & Versatility</h3>
    <p>Emi is a dedicated guitarist with three years of experience, during which he has developed a strong foundation in technique, musicality, and performance. Over the years, he has mastered a wide range of chords, including major, minor, and advanced variations, showcasing his growing expertise and versatility as a musician.</p>
    <h3>Creativity & Performance</h3>
    <p>In addition to his technical skills, Emi has experience performing guitar solos, where he demonstrates his creativity and passion for music. His solos highlight his ability to improvise and connect emotionally with the instrument, making his performances engaging and inspiring.</p>
    <h3>Teaching & Inspiring Musicians</h3>
    <p>Through consistent practice and a love for the craft, Emi has cultivated his skills and deepened his understanding of the guitar. He is excited to share his knowledge and enthusiasm with students, helping them unlock their potential and discover the joy of playing. Emi's approachable teaching style focuses on building confidence and encouraging creativity, ensuring that students feel supported and inspired in their musical journey.s</p>
    <div id = contact>
    <h2>Contact info</h2>
    <p>Gmail:
    <a href="mailto:emitrejor@gmail.com">emitrejor@gmail.com</a>
  </p>  
   <p> Phone number: 425-866-9276  </p>
  </div>
  <div id = "img-container">
  <img src="img of them playing their instrument" alt="">
</div>
</div>
  </body>