<!-- Contact html page, provides info about every officer of Nova Music
 Along with contact infomation for each one and an image of them
 Used the contact grid and card class and pfp divs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="../static/Contact.css" rel="stylesheet" />
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>

    <h1>Contact</h1>
    <div class="contact-grid">
    <div class="contact-card">
      <h2>Eshaan Chowdhry: President</h2>
      <h3>Contact Info</h3>
      <p>Email: <a href="mailto:eshaanchowdhry@gmail.com">eshaanchowdhry@gmail.com</a></p>
      <p>Phone: 425-373-6869</p>
      <p><a href="EC.html">Teacher Bio</a></p>
      <div id="Epfp">
        <img src="../static/ECpfp.jpg" alt="CMpfp">
      </div>
    </div>

    <div class="contact-card">
      <h2>Chase Morse: Vice President</h2>
      <h3>Contact Info</h3>
      <p>Email: <a href="mailto:cmorse1209@gmail.com">cmorse1209@gmail.com</a></p>
      <p>Phone: 425-420-6297</p>
      <div id="Cpfp">
        <img src="../static/CMpfp.jpeg" alt="CMpfp">
      </div>
    </div>

    <div class="contact-card">
      <h2>Ben Comer: Chief Financial Officer</h2>
      <h3>Contact Info</h3>
      <p>Email: <a href="mailto:bencomer09@gmail.com">bencomer09@gmail.com</a></p>
      <p>Phone: 425-984-3369</p>
      <div id="Bpfp">
        <img src="../static/BCpfp.jpeg" alt="BCpfp">
      </div>
    </div>

    <div class="contact-card">
      <h2>Ishan Awasthi: Chief Marketing Officer</h2>
      <h3>Contact Info</h3>
      <p>Email: <a href="mailto:ishan_awasthi09@gmail.com">ishan_awasthi09@gmail.com</a></p>
      <p>Phone: 425-492-6902</p>
      <div id="Cpfp">
        <img src="../static/Ishan.png" alt="Ipfp">
      </div>
    </div>
    </div>
  </body>
</html>
