<!-- Contact html page, provides info about every officer of Nova Music
 Along with contact infomation for each one and an image of them
 Used the contact grid and card class and pfp divs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="../static/Contact.css" rel="stylesheet" />
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>

    <h1>Contact</h1>
    
    <div id="teacherSUCard">
      <h2>Want to be a teacher?</h1>
      <p>pitch</p>
      <p>If that sounds good to you, sign up <a href="https://forms.gle/8Eu4FaqbnEL3VV6P8">here</a>!</p>
    </div>

    <div class="contact-grid">
      <div class="contact-card">
        <h2>Eshaan Chowdhry: President</h2>
        <h3>Contact Info</h3>
        <p>Email: <a href="mailto:eshaanchowdhry@gmail.com">eshaanchowdhry@gmail.com</a></p>
        <p>Phone: 425-373-6869</p>
        <p><a href="/EC">Teacher Bio</a></p>
        <div id="Epfp">
          <img src="../static/ECpfp.jpg" alt="CMpfp">
        </div>
      </div>

      <div class="contact-card">
        <h2>Chase Morse: Vice President</h2>
        <h3>Contact Info</h3>
        <p>Email: <a href="mailto:cmorse1209@gmail.com">cmorse1209@gmail.com</a></p>
        <p>Phone: 425-420-6297</p>
        <div id="Cpfp">
          <img src="../static/CMpfp.jpeg" alt="CMpfp">
        </div>
      </div>

      <div class="contact-card">
        <h2>Ben Comer: Chief Technical Officer</h2>
        <h3>Contact Info</h3>
        <p>Email: <a href="mailto:bencomer09@gmail.com">bencomer09@gmail.com</a></p>
        <p>Phone: 425-984-3369</p>
        <div id="Bpfp">
          <img src="../static/BCpfp.jpeg" alt="BCpfp">
        </div>
      </div>

      <div class="contact-card">
        <h2>Santiago Trejo Rodriguez: Chief Financial Officer</h2>
        <h3>Contact Info</h3>
        <p>Email: <a href="mailto:santiagotrejo.str@gmail.com">santiagotrejo.str@gmail.com</a></p>
        <p>Phone: 425-866-9278</p>
        <div id="STRpfp">
          <img src="../static/STR Headshot.jpg" alt="STRpfp">
        </div>
      </div>
    </div>
  </body>
</html>
