<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel = "stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <body>
      <div id="navbar"></div>

    

    <h1>Eshaan Chowdhry</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Eshaan is a dedicated and skilled musician with over eight years of experience playing the flute, a journey that began in the 3rd grade. His passion for music extends beyond performance—he has a heart for teaching and sharing his craft with others. Over the summer, Eshaan honed his teaching skills by instructing middle school students at the Northshore Music Camp, where he inspired budding musicians to grow in their abilities and love for the flute.</p>
        <h3>Performance and Competition</h3>
        <p>Currently, Eshaan is an active member of the Woodinville Wind Ensemble, where he contributes to a rich tradition of musical excellence. In addition to ensemble work, he performs privately and competes in music competitions across the state such as The Seattle Young Artists and Solo Ensemble competiotns, consistently showcasing his talent and dedication to the art.</p> 
        <h3>Advancing Music education</h3>
        <p>Eshaan's enthusiasm for music education led him to establish Nova Music, a nonprofit initiative that aims to bring music instruction to young students. As founder and instructor, he is passionate about creating opportunities for students to explore their musical potential and develop a lifelong appreciation for the arts. Through his engaging and supportive teaching style, Eshaan hopes to inspire the next generation of musicians and empower them to achieve their goals.</p>
        <div id = contact>
        <h2>Contact info</h2>
      <p>Gmail:
      <a href="mailto:eshaanchowdhry@gmail.com">eshaanchowdhry@gmail.com</a>
    </p>  
    <p> Phone number: 425-373-6869
    </p>
  </div>
      </div>
      <div id="img-container">
        <img src="../static/ECPLAY.JPEG" alt="ECPLAY">
      </div>
    </div>
    
    
  
  </body>