<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel = "stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>
  
  
  <body>
    <div id="navbar"></div>
    <h1>Finn Hill</h1>
  
    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Finn began his musical journey at the age of 5 on piano and expanded to guitar and bass by age 10. He has spent years developing his skills across multiple instruments and genres, eventually joining the local band <strong>WARP</strong>, where he continues to perform regularly.</p>
  
        <h3>Performance and Band Experience</h3>
        <p>As a member of <strong>WARP</strong>, Finn has played dozens of concerts and brings real-world performance experience to his lessons. He enjoys being on stage and shares that enthusiasm with his students. Finn is also skilled at helping students manage stage fright and build performance confidence.</p> 
  
        <h3>Teaching and Mentorship</h3>
        <p>Finn has assisted at youth music camps and is a dedicated student at JAM Academy. His friendly and approachable teaching style helps younger students feel at ease while learning new skills. Whether it’s reading tabs, playing chords, or learning popular riffs, Finn focuses on building strong musical foundations in a fun and supportive way.</p>
      </div>
  
      <div id="contact">
        <h2>Contact Info</h2>
        <p>Gmail:
          <a href="mailto:finnhillpnw@gmail.com">finnhillpnw@gmail.com</a>
        </p>  
        <p>Phone Number: (515) 884-8784</p>
      </div>
    </div>  
      <div id="img-container">
        <img src="../static/ECPLAY.JPEG" alt="ECPLAY">
      </div>
    </div>
  </body>