<!-- Henry teacher page connected to the TeacherPages.css and navbar
Gives info on her musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>
    <h1>Henry</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Aditi is a musician with over ten years of experience under her belt, beginning her music journey at 4 with the piano. She switched over to the violin, which she played for over 10 years, and finally switched to the viola, which she has been playing for the past two years.</p>

        <h3>Performance Experience</h3>
        <p>Currently, Aditi is an active member of Woodinville High School's Chamber orchestra as a violist, however she continues to play violin in her spare time. She competed in solo and ensemble in the group "Brothers Mun and the Rosin Rascals" and partook in the WSU orchestra festival with her school orchestra.</p> 

        <h3>Teaching Philosophy</h3>
        <p>Alexandra’s teaching style centers on patience, encouragement, and helping students become independent problem-solvers. She focuses on building a strong foundation of good fundamentals while also fostering creativity and self-confidence. Alexandra tailors lessons to her students’ goals, whether it’s learning the basics, preparing for an audition, or exploring new styles. Her hope is to help students find their voice and a sense of community through music.</p>
        
        <div id="contact">
          <h2>Contact Info</h2>
          <p>Email: <a href="mailto:hbirk08@icloud.com@gmail.com">hbirk08@icloud.com</a></p>
          <!-- <p>Phone number: 214-254-5555</p> -->
        </div>
      </div>

      <div id="img-container">
        <img src="../static/HBpfp.png" alt="Henry in a suit">
      </div>
    </div>
  </body>
</html>
