<!-- Html page for instruments that we teach. Connected to instrument.css and used a instrument div class
 The h2 are instrument we teach under each is a list of what teachers
 we have for each instrument and a link to their teacher page
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Instruments</title>
  <link href="../static/Instruments.css" rel="stylesheet">
  <script defer src="../static/loadNavbar.js"></script>
</head>

<body>

  <body>
    <div id="navbar"></div>
    <script src="loadNavbar.js"></script>

  <h1>Instruments We Teach</h1>


  <div class="instrument">
    <h2>Flute</h2>
    <ul>
      <li><a href="EC.html">Eshaan Chowdhry</a></li>
      <li><a href="KD.html">Krish Doshi</a></li>
    </ul>
  </div>

  <div class="instrument">
    <h2>Piano</h2>
    <ul>
      <li><a href="TC.html">Thomas Cooper</a></li>
    </ul>
  </div>

  <div class="instrument">
    <h2>Guitar</h2>
    <ul>
      <li><a href="BC.html">Emi Trejo Rodriguez</a></li>
    </ul>
  </div>
</body>
</html>
