<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Instruments</title>
  <link href="Instruments.css" rel="stylesheet">
</head>

<body>

  <body>
    <div id="navbar"></div>
    <script src="loadNavbar.js"></script>

  <h1>Instruments We Teach</h1>


  <div class="instrument">
    <h2>🎶 Flute</h2>
    <ul>
      <li><a href="EC.html">Eshaan Chowdhry</a></li>
      <li><a href="KD.html">Krish Doshi</a></li>
    </ul>
  </div>

  <div class="instrument">
    <h2>🎹 Piano</h2>
    <ul>
      <li><a href="TC.html">Thomas Cooper</a></li>
      <li><a href="BC.html">Blake Collet</a></li>
    </ul>
  </div>

  <div class="instrument">
    <h2>🎸 Guitar</h2>
    <ul>
      <li><a href="BC.html">Emi Trejo Rodriguez</a></li>
    </ul>
  </div>
</body>
</html>
