<!-- Isaac teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>
    <h1>Issac</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Isaac started playing guitar in 2nd grade, then switched to drums in 4th grade and finally settled on the horn in 9th grade.</p>

        <h3>Performance Experience</h3>
        <p>Isaac performed in solo ensemble twice in high school and once in middle school. He has also performed in Benayora and Meanie Hall in Seattle. Over the summer, Isaac will be performing in Portugal across the entire country.</p> 

        <h3>Teaching Philosophy</h3>
        <p>Isaac likes to teach in a calm and innovative demure, always moving along with new content, but making sure that the students maintain the fundamentals needed to keep their musical journey alive.</p>
        
        <div id="contact">
          <h2>Contact Info</h2>
          <p>Email: <a href="mailto:isaacyu2008@gmail.com">isaacyu2008@gmail.com</a></p>
          <!-- <p>Phone number: </p> -->
        </div>
      </div>

      <div id="img-container">
        <img src="../static/sasha.png" alt="Alexandra playing saxophone">
      </div>
    </div>
  </body>
</html>