<!-- Jillian teacher page connected to the TeacherPages.css and navbar
Gives info on her musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <h1>Jillian Harada</h1>

    <h2>Background</h2>
    <div id="background">
        <div>
            <h3>Musical Journey</h3>
            <p>Jillian began playing piano at age five, starting with informal lessons from her grandmother, a highly
                experienced piano teacher and competition judge. Over the past 12 years, she has received formal
                training, developing both technical skill and musicality. After completing all levels of the ABRSM exams
                with distinction, she further improved her sightreading and musical expression through film music
                arrangements. She is currently focused on refining technique with advanced repertoire such as Chopin’s
                etudes.</p>

            <h3>Performance Experience</h3>
            <p>Jillian has performed in annual recitals since early elementary school and has passed all eight levels of
                the ABRSM exams with distinction. These exams included performance, scales, sightreading, listening
                tests, and music theory, demonstrating a well-rounded musical education. While she has stepped back from
                competitions, she previously earned a bronze medal in the National League of Performing Arts
                international piano competition. She also has experience accompanying other musicians, including
                violinists, cellists, and pianists.</p>

            <h3>Teaching Philosophy</h3>
            <p>Jillian approaches piano teaching from both technical and musical perspectives—focusing on finger
                precision as well as expression and interpretation. She draws on her own learning experience to support
                beginners and has given feedback to students at a variety of skill levels. With a strong background in
                teaching other subjects, she brings patience and clarity to her instruction. She also continues to
                refine her teaching methods through mentorship from her grandmother.</p>

            <div id="contact">
                <h2>Contact Info</h2>
                <p>Email: <a href="mailto:jwharada@gmail.com">jwharada@gmail.com</a></p>
                <p>Phone number: 224-255-5999</p>
            </div>
        </div>

        <div id="img-container">
            <!-- <img src="../static/" alt=""> -->
        </div>
    </div>
</body>

</html>