<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel = "stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>
  
  
  <body>
    <div id="navbar"></div>
    <h1>Jake Kashi</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
<p>Jake is a dedicated saxophonist with five years of experience, beginning his musical path in 5th grade on the clarinet before transitioning to the alto saxophone. Inspired by his older sister a strong role model who encouraged him to pursue leadership Jake’s passion for music grew alongside the meaningful friendships he developed through band. His musical upbringing was shaped by the guidance of both his father and sister, creating a foundation built on support, curiosity, and collaboration.</p>

<h3>Performance and Competition</h3>
<p>As he enters his junior year, Jake will serve as the alto saxophone section leader at Woodinville High School and perform as a member of the Woodinville Wind Ensemble. His musical excellence has been recognized through top ratings, multiple 1s and superiors at WMEA Solo and Ensemble events. In addition to performing, Jake enjoys arranging music for small ensembles, blending creativity and skill to bring new life to familiar melodies and explore musical expression with peers.</p>

<h3>Advancing Music Education</h3>
<p>Jake’s teaching philosophy is rooted in the way he learned: with patient support, hands-on problem-solving, and a focus on both musicality and instrument mastery. He emphasizes practical skills, such as making precise adjustments to student and intermediate instruments, and trains students to quickly identify notes and rhythm patterns by heart. Passionate about helping young musicians reach their full potential, Jake hopes to inspire the next generation in the Northshore School District just as he was inspired by his own mentors—and to see them carry on the legacy of their school bands with pride and joy.</p>
<div id = contact>
        <h2>Contact info</h2>
      <p>Gmail:
      <a href="mailto:jake@kashis.com">jake@kashis.com</a>
    </p>  
    <p> Phone number: 425-588-5293
    </p>
  </div>
      </div>
      <div id="img-container">
        <img src="../static/ECPLAY.JPEG" alt="ECPLAY">
      </div>
    </div>
  </body>