<!-- John Wheelwright teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, contact info and an image of him drumming
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TeacherBase</title>
  <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
  <link href="../static/TeacherPages.css" rel="stylesheet">
  <script defer src="../static/loadNavbar.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <h1>John Wheelwright</h1>

  <h2>Background</h2>
  <div id="background">
    <div>
      <h3>Musical Journey</h3>
      <p>John has been playing drums for six years, starting his musical journey in 5th grade band. From the very
        beginning, he found joy and purpose in making music. Drumming has become a central part of his life—not only as
        a creative outlet but also as a way to connect with others and be part of a community. He views music as a
        lifelong experience that continues to bring fulfillment and inspiration.</p>

      <h3>Performance Experience</h3>
      <p>Throughout his six years in band, John has developed strong ensemble skills and stage presence. He spent two
        years in marching band, where he learned the importance of timing, coordination, and teamwork. In addition, he
        has drummed in a band for three years and served as the pit drummer for several musical theater productions.
        These varied experiences have given him a versatile foundation as both a performer and collaborator.</p>

      <h3>Teaching Philosophy</h3>
      <p>John believes in building skills gradually and encouraging every step of progress. His teaching style is
        supportive and structured, helping students build a strong technical foundation while keeping the learning
        process fun and motivating. He customizes lessons based on the student’s pace and goals—whether they're just
        starting out or preparing for performances. John has also taught at the Northshore Summer Music School, where he
        guided young drummers with enthusiasm and care.</p>

      <div id="contact">
        <h2>Contact Info</h2>
        <p>Email:<a href="mailto:john.k.wheelwright@gmail.com">john.k.wheelwright@gmail.com</a></p>
        <p>Phone number: 425-419-3682</p>
      </div>
    </div>

    <div id="img-container">
      <img src="../static/JWPlay.PNG" alt="John Wheelwright drumming">
    </div>
  </div>
</body>

</html>