<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel = "stylesheet">
  </head>

  <body>
    <body>
      <div id="navbar"></div>
      <script src="loadNavbar.js"></script>

    <h1>Krish Doshi</h1>
    <h2>Background</h2>
    <div id = "background">   
    <div>
      <h3>Musical Journey</h3>
      <p>Krish Doshi is a passionate and accomplished musician with over eight years of experience playing the flute, a journey that began in the 5th grade. Over the years, his love for music has grown, and he has mastered a variety of instruments, including the flute, piccolo, and bassoon, demonstrating his versatility and commitment to his craft.</p>
    <h3>Performance and competitions</h3>
      <p>Krish is currently a freshman at the University of Washington, where he continues to pursue his musical aspirations as a member of the university’s prestigious marching band, performing as a talented piccolo player. Beyond the marching band, he participates in several campus ensembles throughout the year, showcasing his skills and dedication to collaborative music-making.</p>
    <h3>Teaching Style</h3>
    <p>As an instructor, Krish brings a wealth of experience, enthusiasm, and a genuine love for teaching. He is excited to share his knowledge and inspire young musicians to discover their own passion for music. Krish’s approachable and engaging teaching style encourages students to grow as performers and develop a deeper appreciation for the art of music.</p>
      <div id = contact>
        <h2>Contact info</h2>
    <p>Gmail:
    <a href="mailto:krishpdoshi@gmail.com">krishpdoshi@gmail.com</a>
  </p>  
   <p> Phone number: 425-240-8044 </p>
  
      </div>
  </div>
    <div id = "img-container">
      <img src="KDPlay.JPG" alt="">
    </div>
  </div>

    
  
  </body>