<!-- Lessons HTML page gives info on lessons of Nova Music
Connects to Lessons.css. Uses a few divs,
container, moneyInfo, sign up for orgainization and styling
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lessons</title>
  <link href="../static/Lessons.css" rel="stylesheet">
  <script defer src="../static/loadNavbar.js"></script>
</head>
<body>
  <div id="navbar"></div>
    <h1>Lessons</h1>
    <div class="container">
    <div class="info">
      <h2>Information</h2>
      <p>At Nova Music, we provide high-quality, affordable music lessons for students of all backgrounds. Whether you're a beginner or an advanced musician, our experienced student mentors are here to help you grow. Lessons are available both in-person and online for flexibility!</p>
    </div>

    
      <h2>Pricing Info</h2>
      <div class="moneyInfo"></div>
      <ul>
        <li>30-minute lesson – $10</li>
        <li>60-minute lesson – $15</li>
        <li><strong>First lesson FREE!</strong></li>
      </ul>
      
      <p>Flexible scheduling available for online and in-person lessons.</p>
    

    <div class="signup">
      <h2>Sign Up</h2>
      <p>Sign up here for a trial lesson and to schedule future lessons with a teacher.</p>
      <a class="signup-btn" href="signup.html">Sign Up</a>
    </div>
  </div>

</body>
</html>
