<!-- Html page for the navbar
Connects to all the other main pages, home/index, instruments, lessons, contact
On every single html page, injected with js code.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Navbar</title>
    <link href="/static/navbar.css" rel="stylesheet">
  </head>
<body>
  <nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Instruments">Instruments</a></li>
        <li class="logo"><a href="/"><img src="/static/NovaMusicLogo.png" alt="Nova Music Logo"></a></li>
        <li><a href = "/Lessons">Lessons</a> </li>
        <li><a href="/Contact">Contact</a></li>
    </ul>
</nav>
</body>