<!-- Pranshu teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <h1>Pranshu Amin</h1>

    <h2>Background</h2>
    <div id="background">
        <div>
            <h3>Musical Journey</h3>
            <p>Pranshu began his musical journey at the age of six, starting with lessons at home where he was first
                introduced to the fundamentals of music. What began as a small, personal exploration quickly developed
                into a lasting passion. As he continued learning and practicing, he steadily built his skills and
                expanded his musical understanding. Over time, he progressed from basic exercises to more advanced
                pieces, gaining confidence and a deeper appreciation for the art.</p>

            <h3>Performance Experience</h3>
            <p>Pranshu has had the opportunity to share his music in several recital settings, performing for live
                audiences. These experiences helped him develop a sense of comfort on stage and taught him the
                importance of preparation, expression, and presence in a performance setting. Though few in number, each
                recital gave him a new perspective on performing and connecting with listeners.</p>

            <h3>Teaching Philosophy</h3>
            <p>Pranshu has had the rewarding experience of teaching students within his own community, including working
                closely with his younger brother. Through these experiences, he has learned the value of patience, clear
                guidance, and adapting to each student’s learning style. His teaching focuses on making music
                approachable and enjoyable, while still emphasizing the structure and consistency needed for progress.
                He aims to create a supportive environment where students feel both challenged and encouraged to grow.
            </p>

            <div id="contact">
                <h2>Contact Info</h2>
                <p>Email: <a href="mailto:puamin@outlook.com">puamin@outlook.com</a></p>
                <p>Phone number: 201-989-6461</p>
            </div>
        </div>

        <div id="img-container">
            <!-- <img src="../static/" alt=""> -->
        </div>
    </div>
</body>

</html>