<!-- Pranshu teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, and contact info
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <h1>Pranshu Amin</h1>

    <h2>Background</h2>
    <div id="background">
        <div>
            <h3>Musical Journey</h3>
            <p>Pranshu began learning piano at the age of six, starting with lessons at home. Over time, he continued to build on that foundation, steadily growing his skills and musical understanding. His early start and consistent practice have shaped a solid and ongoing connection to the instrument.</p>

            <h3>Performance Experience</h3>
            <p>Pranshu has performed in a few recitals, gaining experience presenting music in front of an audience. These performances have helped him develop confidence and stage presence in a supportive setting.</p>

            <h3>Teaching Philosophy</h3>
            <p>Pranshu has taught piano to kids in his community as well as his younger brother. He approaches teaching with a focus on sharing what he has learned through his own experience, aiming to help beginners build a strong foundation in a comfortable and encouraging environment.</p>

            <div id="contact">
                <h2>Contact Info</h2>
                <p>Email: <a href="mailto:puamin@outlook.com">puamin@outlook.com</a></p>
                <p>Phone number: 201-989-6461</p>
            </div>
        </div>

        <div id="img-container">
            <!-- <img src="../static/" alt=""> -->
        </div>
    </div>
</body>

</html>