<!-- Regina teacher page connected to the TeacherPages.css and navbar
Gives info on her musical background, contact info and an image of her playing piano
used the background, contact and img-container divs
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <div id="navbar"></div>
    <h1>Regina Aceves</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Regina has been playing piano for over seven years and brings a deep passion for music to every lesson. She began learning how to read music at age seven and quickly developed strong skills in sight reading, dynamic expression, and musical detail. Her playing is marked by precision and sensitivity—capturing even the subtlest shifts in articulation, position, and tone.</p>

        <h3>Performance Experience</h3>
        <p>With experience performing in four recitals per year for the past six years, Regina is confident under pressure and comfortable playing in front of an audience. She uses that experience to help students build confidence in their own musical expression and stage presence.</p> 

        <h3>Teaching Philosophy</h3>
        <p>Regina focuses on the unique needs and goals of each student. She tailors lessons to be both inspiring and challenging, taking student input into consideration when choosing pieces or setting lesson goals. Her mission is to help students not only grow as pianists but also deepen their love for music through curiosity, creativity, and dedication.</p>

        <div id="contact">
          <h2>Contact Info</h2>
          <p>Gmail:
            <a href="mailto:rgnaceves@outlook.com">rgnaceves@outlook.com</a>
          </p>  
          <p>Phone number: 425-766-1069</p>
        </div>
      </div>

      <div id="img-container">
        <!--<img src="../static/ReginaPiano.jpg" alt="Regina playing piano">-->
      </div>
    </div>
  </body>
</html>
