<!-- Thomas Cooper teacher page connected to the TeacherPages.css and navbar
Gives info on his musical background, contact info unable to get an image of him playing the guitar
used the background, contact and img-contanier divs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link href="../static/TeacherPages.css" rel = "stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>

  <body>
    <body>
      <div id="navbar"></div>
    <h1>Thomas Cooper</h1>

    <h2>Background</h2>
    <div id = "background">
      <div>
      <h3>Musical Journey</h3>
    <p>Thomas is a dedicated pianist with 12 years of experience, during which the piano has become an integral part of his life. His passion for music drives him to share his love for the piano with others, helping them find joy and growth in their own musical journeys. </p>
    <h3>Performance and Competition</h3>
    <p>Thomas’s commitment to excellence is reflected in his participation in numerous prestigious competitions and piano camps. He has attended the BYU Piano Summer Camp, competed three times in the MTNA Senior Performance competitions, and showcased his skills in the Seattle Young Artist Music Festival Concerto Competition. These experiences have honed his abilities and deepened his understanding of the art of performance.</p>
    <h3>Music Theory knowledge</h3>
    <p>In addition to his impressive performance background, Thomas is highly knowledgeable in music theory. Having studied the subject for several years, he achieved a perfect score of 5 on the AP Music Theory exam, demonstrating his comprehensive grasp of musical concepts.</p>
    <h3>Teaching Style</h3>
    <p>As an instructor, Thomas combines his technical expertise with a structured and thoughtful teaching approach. He emphasizes techniques such as scales, arpeggios, Hanon exercises, and slow, deliberate practice to help students unlock their potential and achieve their best. Thomas is passionate about creating a supportive learning environment where students can develop their skills, creativity, and confidence.
    </p>
    
    <div id = contact>
    <h2>Contact info</h2>
    <p>Gmail:
    <a href="mailto:Th.m.cooper@gmail.com">Th.m.cooper@gmail.com</a>
    </p>  
    <p> Phone number: 425-219-6755
    </p>
    </div>
  </div>
    <div id="img-container">
      <img src="../static/TCPlay.JPEG" alt="TCPLAY">
    </div>
  </div>
  
  </body>