<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TeacherBase</title>
    <link rel="icon" type="image/x-icon" href="../static/NovaMusicLogo.png">
    <link href="../static/TeacherPages.css" rel="stylesheet">
    <script defer src="../static/loadNavbar.js"></script>
  </head>
  
  <body>
    <div id="navbar"></div>
    <h1>Victoria Sablina</h1>

    <h2>Background</h2>
    <div id="background">
      <div>
        <h3>Musical Journey</h3>
        <p>Victoria Sablina is a passionate and dedicated low brass musician with over seven years of experience on the euphonium and trombone. She began her musical journey in fourth grade with the euphonium and later expanded her skills in middle school by picking up the valve trombone through jazz band. As her love for jazz grew, she transitioned to the slide trombone, further deepening her connection to low brass. Victoria is especially passionate about how playing an instrument can build confidence and leadership—both on and off the stage.</p>

        <h3>Performance and Experience</h3>
        <p>Victoria plays in Woodinville High School’s Wind Ensemble, Jazz Band I and II, and has also performed with the WHS Orchestra for events like the WSU Orchestra Festival. She has experience in smaller ensembles and pit orchestras, including the school’s production of <i>Twelfth Night</i>. A committed leader, Victoria has served as section leader for both euphonium and trombone since her sophomore year, and is excited to continue leading the euphonium section into her junior year. She also serves as Wind Section Head on the school's first-ever Jazz Council.</p> 

        <h3>Advancing Music Education</h3>
        <p>Victoria’s teaching style is patient, precise, and encouraging. She focuses on helping students grow through clear guidance, customized goals, and confidence-building techniques. Whether it’s expanding range or mastering a new piece, she works closely with students to help them succeed. Victoria strongly believes in making music education accessible, and is especially passionate about increasing access to low brass instruction for all.</p>

        <div id="contact">
          <h2>Contact info</h2>
          <p>Gmail: 
            <a href="mailto:victoriasablina@gmail.com">victoriasablina@gmail.com</a>
          </p>  
          <p>Phone number: 425-387-3758</p>
        </div>
      </div>

      <div id="img-container">
        <img src="../static/VSPLAY.JPEG" alt="VSPLAY">
      </div>
    </div>
  </body>
</html>
